<header class="header">
  <nav class="navbar">
    <div class="logo">
      <h1><img src="assets/Image/creative-construction-logo-design_296218-original.jpg" alt="Logo"></h1>
    </div>
    <ul class="nav-links">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/solutions">Solutions</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
    <div class="nav-buttons">
      <a routerLink="/login" class="login-btn">Log In</a>
      <a routerLink="/signUp" class="signup-btn">Sign Up</a>
    </div>
  </nav>
</header>
